##ignore this file##
/Examples/bin/
/Examples/obj/
/GaitData/bin/
/GaitData/obj/
/NativeAPI/x64/
/.vs/

/NativeAPI/Buffer.h
/NativeAPI/Buffer_impl.h
/NativeAPI/Config.h
/NativeAPI/Data.h
/NativeAPI/FeatureExtraction.h
/NativeAPI/FileStream.h
/NativeAPI/Interpolator.h
/NativeAPI/Optional.h

/NativeAPI/API.cpp
/NativeAPI/Buffer.cpp
/NativeAPI/Buffer_impl.cpp
/NativeAPI/Config.cpp
/NativeAPI/Data.cpp
/NativeAPI/dllmain.cpp
/NativeAPI/FeatureExtraction.cpp
/NativeAPI/FileStream.cpp
/NativeAPI/NativeAPI.cpp
/NativeAPI/Interpolator.cpp

.exp
.iobj
.ipdb
.lib
.pdb
.sln

/NativeAPI/NativeAPI.vcxproj
/NativeAPI/NativeAPI.vcxproj.filters
/NativeAPI/NativeAPI.vcxproj.user
